.mind-card {
    margin: 24px;
    border: 1px solid #999;
    padding: 24px;
    color: black;
    display: flex;
    flex-direction: column;
    background: #FFF;
    min-height: 334px;
    border-radius: 16px;
}


.content-input {
    min-height: 74px;
    padding: 11px;
    border-radius: 8px;
    border: 1px solid #777;
    background: #FFF;
    color: black;
    resize: none;
    width: 100%;
    outline: none;
}


.content-input::-webkit-scrollbar {
    display: none;
  }


  .content-el {
    margin-top: 24px;
  }
  