.post-card {
    margin: 24px;
    border: 1px solid #999;
 
    color: black;
  
    background: #FFF;
    border-radius: 16px;
    margin: 24px;
    
}

.post-card #component-header {
    border-radius: 16px 16px 0px 0px;
    background: #7695EC;
    height: 80px;
align-items: center;
    display: flex;
    padding: 0 36px;
    color: white;
    justify-content: space-between;
}


.component-content {

}

#message {
    padding: 24px;
    font-size: 18px;
    margin-top: 16px;
}

#username-and-time-component{
margin: 24px;
margin-bottom: 0;
    font-size: 18px;
    color: #777;
    display: flex;
    justify-content: space-between;
}

#content-input {
    min-height: 74px;
    padding: 11px;
    border-radius: 8px;
    border: 1px solid #777;
    background: #FFF;
    color: black;
    resize: none;
    width: 100%;
    outline: none;
    
}
#postcard-edit-icons-container {
    display: flex;
    gap: 24px
}

.postcard-icon:hover {
    cursor: pointer;
}

.postcard-icon:active {
    transition: 0.2s;
    scale: 1.1;
}